body{
    font-family: 'Lora', serif;
   }
   
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }

h1{
    font-size: 60px;
}

h5{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 900;
}

.landPage{
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    background-image: url('/img/stripes.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 150px 0;
}

#landNav{
    background-color: rgba(0, 0, 0, 0);
    margin: 50px;
    margin-top: 50px;
    float: right;
}

.grid1{
    width: 200px;
    height: 200px;
    background-color: black;
    border: 2px;
    box-sizing: border-box;
}

.grid2{
    width: 200px;
    height: 200px;
    background-color: rgb(161, 48, 48);
    border: 2px;
    box-sizing: border-box;
}

.grid3{
    width: 200px;
    height: 200px;
    background-color: rgb(25, 180, 128);
    border: 2px;
    box-sizing: border-box;
}

.site-footer{
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron{
    margin: 0;
    padding: 100px;
    background-color: #fce1e0;
    overflow: hidden;
}

.jumbotron .btn{
    font-size: 22px;
    background-color: rgba(231,0,65,0.9);
    border: none;
}

#bookingModal{
    background-color: #000;
    background: url(/img/bride.jpg) no-repeat center bottom/cover;
    
}

.modal-content{
    margin-top: 140px;
    background-color: rgba(0, 0, 0, 0.7);
}

.row-content{
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #000;
}

.h3-header{
    background: linear-gradient(90deg, rgba(99,86,86,1) 0%, rgba(104,18,18,1) 39%, rgb(114, 1, 3) 78%, rgba(51,41,42,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 20s linear infinite;
}

.header-image{

}

.animated{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(253,187,45,1) 100%) bottom/cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.facebook{
    position: fixed;
    top: 220px;
    right: 0;
}
.instagram{
    position: fixed;
    top: 290px;
    right: 0;
}
.phone{
    position: fixed;
    top: 360px;
    right: 0;
}
.contact{
    background-color: #fff;
}

.askMe{
    position: fixed;
    top: 430px;
    right: 0;
}

.whatsapp{
    position: fixed;
    top: 300px;
    left: 0;
}

.email{
    position: fixed;
    top: 360px;
    left: 0;
}

#testimonial{
    border-top: #CEC8FF 3px solid;
    border-bottom: rgb(170, 248, 222) 3px solid;
    background-color: rgb(170, 248, 222);
}

#testimonial .container{
    background-color: rgba(255, 250, 250, 0.5);
    padding: 100px 50px 100px 50px;
    border-right: 1px solid #ccc;
}

#testimonial p{
    /* font-size: 32px;
    font-weight: 300; */
    font-family: "Gloria Hallelujah";
    color: #444;
}

#testimonial p.customer{
    font-size: 20px;
    color: #666;
}

#testimonial a.btnTestimonial{
    align-items: center;
    justify-content: center;
    text-align: center
}

#main-footer{
    font-family: 'Lora', serif;
    font-size: 14px;
    background: linear-gradient(90deg, rgba(154, 182, 130, 0.8) 0%, rgba(4, 156, 16, 0.7) 10%, rgba(4, 156, 16, 0.8) 50%, rgba(1, 114, 20, 0.6) 82%, rgb(102, 175, 42) 100%);
    color: #000;
    letter-spacing: 2px;
}

@media(min-width:1200px){
    .jumbotron .btn{
        margin-top: -200px;
    }
}
@media(max-width:1200px){
    .jumbotron .btn{
        margin-top: -80px;
    }
}
@media(max-width:992px){
    .jumbotron .btn{
        margin-top: 20px;
        padding: 30px!important;
        font-size: 20px;
    }
}
@media(max-width:786px){
    .jumbotron .btn{
        margin-top: 30px;
        padding: 15px!important;
        font-size: 20px;
    }
}
