body {
  font-family: "Lora", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 60px; }

.navbar {
  background-color: #000; }

.jumbotron {
  margin: 0;
  padding: 100px;
  background-color: #fce1e0;
  overflow: hidden; }
  .jumbotron .container {
    margin-top: 70px; }
  .jumbotron h1 {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, black 0%, #fdbb2d 100%) bottom/cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .jumbotron h3 {
    background: linear-gradient(90deg, #635656 0%, #681212 39%, #720103 78%, #33292a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .jumbotron .btn {
    font-family: "Lora", serif;
    font-size: 20px;
    background-color: rgba(231, 0, 65, 0.7);
    border: none;
    border-radius: 16px; }

#bookingModal {
  background: url(/img/bride.jpg) no-repeat center bottom/cover; }
  #bookingModal .modal-content {
    margin-top: 140px;
    background-color: rgba(0, 0, 0, 0.7); }

#image-carousel img {
  height: 500px; }

.facebook {
  position: fixed;
  top: 30%;
  right: 0; }
  .facebook .btn {
    padding: 8px 20px; }

.instagram {
  position: fixed;
  top: 40%;
  right: 0; }
  .instagram .btn {
    padding: 7px 17px; }

.phone {
  position: fixed;
  top: 50%;
  right: 0; }
  .phone .btn {
    padding: 7px 17px; }
  .phone .contact {
    font-family: "Lora", serif;
    color: #fff;
    padding: 8px 28px;
    border-radius: 5px; }

.email {
  position: fixed;
  top: 60%;
  right: 0; }
  .email .btn {
    padding: 7px 15px;
    background-color: #ad2d0b; }

.whatsapp {
  position: fixed;
  bottom: 27px;
  right: 90px; }
  .whatsapp .btn {
    padding: 10px 16px; }

#testimonial {
  border-top: #CEC8FF 3px solid;
  border-bottom: #CEC8FF 1px solid;
  background-color: #8ed0d4; }
  #testimonial .container {
    background-color: rgba(255, 250, 250, 0.4);
    padding: 100px 50px 100px 50px;
    border-right: 1px solid #ccc; }
  #testimonial p {
    font-family: "Lora", serif;
    font-style: oblique;
    color: #444; }
  #testimonial p.customer {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 14px;
    color: #666; }
  #testimonial img {
    border-radius: 25%;
    height: 100px;
    width: 150px;
    border-bottom: 1px solid #fce1e0; }
  #testimonial a.btnTestimonial {
    align-items: center;
    justify-content: center;
    text-align: center; }

#main-footer {
  font-family: 'Lora', serif;
  font-size: 12px;
  background: linear-gradient(90deg, rgba(154, 182, 130, 0.8) 0%, rgba(15, 58, 18, 0.8) 10%, rgba(23, 44, 25, 0.8) 68%, rgba(23, 63, 30, 0.7) 87%, rgba(34, 48, 22, 0.7) 100%);
  color: #fff;
  letter-spacing: 2px; }

@media (min-width: 1200px) {
  .jumbotron .btn {
    margin-top: -200px; } }

@media (max-width: 1200px) {
  .jumbotron .btn {
    margin-top: -80px; } }

@media (max-width: 992px) {
  .jumbotron .btn {
    margin-top: 20px;
    padding: 30px !important;
    font-size: 20px; } }

@media (max-width: 786px) {
  .jumbotron {
    padding: 5px; }
    .jumbotron .btn {
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 15px 20px !important;
      font-size: 20px; }
  #testimonial .div-1, #testimonial .div-2 {
    border-bottom: 1px solid #fce1e0; }
  #testimonial .comment-1 {
    margin-top: -20px; }
  #testimonial .comment-2 {
    margin-top: 80px; }
  #testimonial .comment-3 {
    margin-top: 70px; }
  #testimonial .img-1 {
    margin-bottom: 40px; }
  #testimonial .img-2 {
    margin-bottom: 80px; }
  #testimonial a {
    margin-top: 0; }
  #testimonial .read-more {
    padding-top: 20px; }
  .facebook {
    position: fixed;
    top: 100px;
    right: 0; }
    .facebook .btn {
      padding: 7px 14px; }
  .instagram {
    position: fixed;
    top: 150px;
    right: 0; }
    .instagram .btn {
      padding: 6px 11px; }
  .phone {
    position: fixed;
    top: 200px;
    right: 0; }
    .phone .btn {
      padding: 6px 11px; }
  .email {
    position: fixed;
    top: 250px;
    right: 0; }
    .email .btn {
      padding: 6px 8px; } }

@media (max-width: 576px) {
  .jumbotron h1 {
    font-size: 36px;
    line-height: 1.3em;
    padding: 0px 15px 5px 15px; }
  .jumbotron h3 {
    font-size: 14px;
    line-height: 1.8em;
    padding: 5px 15px 5px 15px; }
  .jumbotron img {
    padding: 5px 15px 5px 15px; }
  .jumbotron .button {
    padding: 5px 15px 5px 30px; }
    .jumbotron .button .btn {
      font-size: 16px;
      border-radius: 6px; }
  #text-carousel h1 {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px; }
  #text-carousel p {
    font-size: 18px;
    color: #2f2f2f;
    margin-bottom: 20px; } }
