$font-body:'Lora', serif;
$font-heading: 'Montserrat', sans-serif;
$font-testimonial: 'Gloria Hallelujah', cursive;
$font-default: Helvetica,Arial,sans-serif;
$font-sans-serif: sans-serif;
$color-background: #CEC8FF;
$color-header: #fce1e0;
$color-button-header: rgba(231, 0, 65, 0.7);
$color-main-heading: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 1) 100%);
$color-main-sub-heading: linear-gradient(90deg, rgba(99,86,86,1) 0%, rgba(104,18,18,1) 39%, rgb(114, 1, 3) 78%, rgba(51,41,42,1) 100%);
$color-modal-form: rgba(0, 0, 0, 0.7);
$color-testimonial: rgb(142, 208, 212);
$color-testimonial-container: rgba(255, 250, 250, 0.4);
$color-email: rgb(173, 45, 11);
$color-fb-background: #365899;
$color-fb-credit: #bec2c9;
$color-footer: linear-gradient(90deg, rgba(154, 182, 130, 0.8) 0%, rgba(15, 58, 18, 0.8) 10%, rgba(23, 44, 25, 0.8) 68%, rgba(78, 109, 83, 0.7) 87%, rgba(34, 48, 22, 0.7) 100%);
$color-light: #ccc;
$color-white: #fff;
$color-black: #000;
$color-black-trans: rgba(0, 0, 0, 0.16);
$color-black-trans-2: rgba(0, 0, 0, 0.06);
$color-black-trans-3: rgba(0, 0, 0, 0.09);
$color-black-trans-4: rgba(0, 0, 0, 0.24);
$color-black-trans-5: rgba(0, 0, 0, 0.05);
 

// BODY

body{
    font-family: $font-body;
    background-color: $color-background;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-heading;
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    font-size: 60px;
}

// NAVBAR

.navbar {
    background-color: $color-black;
}

// HEADER

.jumbotron{
    margin: 0;
    padding: 100px;
    background-color: $color-header;
    overflow: hidden;

    .container{
        margin-top: 70px;
    }
    h1{
        margin: 0;
        padding: 0;
        background: $color-main-heading bottom/cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h3{
        background: $color-main-sub-heading;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    .btn{
        font-family: $font-body;
        font-size: 20px;
        background-color: $color-button-header;
        border: none;
        border-radius: 16px;
        margin-top: -25%;
    }
}

// TESTIMONIAL

#testimonial{
    border-top: $color-background 3px solid;
    border-bottom: $color-background 1px solid;
    background-color: $color-testimonial;

    .container{
        background-color: $color-testimonial-container;
        padding: 100px 50px 100px 50px;
        border-right: 1px solid $color-light;
    }

    p{
        font-family: $font-body;
        font-style: oblique;
        color: #444;
    }

    p.customer{
        font-family: $font-testimonial;
        font-size: 14px;
        color: #666;
    }

    img{
        border-radius: 25%;
        height: 100px;
        width: 150px;
        border-bottom: 1px solid $color-header;
    }

    a.btnTestimonial{
        align-items: center;
        justify-content: center;
        text-align: center
    }
}

// MODAL

#bookingModal{
    background: url(/img/bride.jpg) no-repeat center bottom/cover;

    .modal-content{
        margin-top: 140px;
        background-color: $color-modal-form;
    }
}

// SOCIAL HANDLES

.facebook{
    position: fixed;
    top: 30%;
    right: 0;

    .btn{
        padding: 8px 20px;
    }
}

.instagram{
    position: fixed;
    top: 40%;
    right: 0;

    .btn{
        padding: 7px 17px;
    }
}

.phone{
    position: fixed;
    top: 50%;
    right: 0;

    .btn{
        padding: 7px 17px;
    }

    .contact{
        font-family: $font-body;
        color: $color-white;
        padding: 8px 28px;
        border-radius: 5px;
    }
}

.email{
    position: fixed;
    top: 60%;
    right: 0;

    .btn{
        padding: 7px 15px;
        background-color: $color-email;
    }
}

.whatsapp{
    position: fixed;
    bottom: 27px;
    right: 90px;

    .btn{
        padding: 10px 16px;
    }
}

// FACEBOOK MESSENGER

.fb-livechat, .fb-widget{
    display: none;
}
.ctrlq.fb-button, .ctrlq.fb-close{
    position: fixed;
    right: 24px;
    cursor: pointer;
}
.ctrlq.fb-button{
    z-index: 1;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDEyOCAxMjgiIGhlaWdodD0iMTI4cHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjggMTI4IiB3aWR0aD0iMTI4cHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxyZWN0IGZpbGw9IiMwMDg0RkYiIGhlaWdodD0iMTI4IiB3aWR0aD0iMTI4Ii8+PC9nPjxwYXRoIGQ9Ik02NCwxNy41MzFjLTI1LjQwNSwwLTQ2LDE5LjI1OS00Niw0My4wMTVjMCwxMy41MTUsNi42NjUsMjUuNTc0LDE3LjA4OSwzMy40NnYxNi40NjIgIGwxNS42OTgtOC43MDdjNC4xODYsMS4xNzEsOC42MjEsMS44LDEzLjIxMywxLjhjMjUuNDA1LDAsNDYtMTkuMjU4LDQ2LTQzLjAxNUMxMTAsMzYuNzksODkuNDA1LDE3LjUzMSw2NCwxNy41MzF6IE02OC44NDUsNzUuMjE0ICBMNTYuOTQ3LDYyLjg1NUwzNC4wMzUsNzUuNTI0bDI1LjEyLTI2LjY1N2wxMS44OTgsMTIuMzU5bDIyLjkxLTEyLjY3TDY4Ljg0NSw3NS4yMTR6IiBmaWxsPSIjRkZGRkZGIiBpZD0iQnViYmxlX1NoYXBlIi8+PC9zdmc+) center no-repeat #0084ff;
    width: 60px;
    height: 60px;
    text-align: center;
    bottom: 24px;
    border: 0;
    outline: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    box-shadow: 0 1px 6px $color-black-trans-2, 0 2px 32px $color-black-trans;
    -webkit-transition: box-shadow .2s ease;
    background-size: 80%;
    transition: all .2s ease-in-out;
}
.ctrlq.fb-button:focus, .ctrlq.fb-button:hover{
    transform: scale(1.1);
    box-shadow:0 2px 8px $color-black-trans-3, 0 4px 40px $color-black-trans-4;
}
.fb-widget{
    background: $color-white;
    z-index: 2;
    position: fixed;
    width: 360px;
    height: 435px;
    overflow: hidden;
    opacity: 0;
    bottom: 0;
    right: 24px;
    border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 5px 40px $color-black-trans;
    -webkit-box-shadow: 0 5px 40px $color-black-trans;
    -moz-box-shadow: 0 5px 40px $color-black-trans;
    -o-box-shadow: 0 5px 40px $color-black-trans;
}
.fb-credit{
    text-align: center;
    margin-top: 8px;
}
.fb-credit a{
    transition: none;
    color: $color-fb-credit;
    font-family: $font-default;
    font-size: 12px;
    text-decoration: none;
    border: 0;
    font-weight: 400;
}
.ctrlq .fb-overlay{
    z-index: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    -webkit-transition: opacity .4s, visibility .4s;
    transition: opacity .4s, visibility .4s;
    top: 0;
    left: 0;
    background: $color-black-trans-5;
    display: none;
}
.ctrlq .fb-close{
    z-index: 4;
    padding: 0 6px;
    background: $color-fb-background;
    font-weight: 700;
    font-size: 11px;
    color: $color-white;
    margin: 8px;
    border-radius: 3px;
}
.ctrlq .fb-close::after{
    content: 'x';
    font-family: $font-sans-serif;
    }

// FOOTER

#main-footer{
    font-family: $font-body;
    font-size: 12px;
    background: $color-footer;
    color: $color-white;
    letter-spacing: 2px;
}

// MEDIA-QUERY

@media(max-width:1200px){
    .jumbotron {
        .btn{
            margin-top: -80px;
        }
    }
}

@media(min-width:992px){
    #image-carousel{
        .col-lg-4{
            position: absolute;
            top: 25%;
            right: 0%;
        }
        .groom{
            right: 7%;
        }
    }
}

@media(max-width:992px){
    .jumbotron .btn{
        margin-top: 20px;
        padding: 30px!important;
        font-size: 20px;
    }
}

@media(max-width:786px){
    .jumbotron{
        padding: 5px;

        .btn{
            margin-top: 30px;
            margin-bottom: 20px;
            padding: 15px 20px!important;
            font-size: 20px;
        }
    }

    #testimonial{
        .div-1, .div-2{
            border-bottom: 1px solid $color-header;
        }
        .comment-1{
            margin-top: -20px;
        }
        .comment-2{
            margin-top: 80px;
        }
        .comment-3{
            margin-top: 70px;
        }
        .img-1{
            margin-bottom: 40px;
        }
        .img-2{
            margin-bottom: 80px;
        }
        a{
            margin-top: 0;
        }
        .read-more{
            padding-top: 20px;
        }
    }

    .facebook{
        position: fixed;
        top: 100px;
        right: 0;

        .btn{
            padding: 7px 14px;
        }
    }
    
    .instagram{
        position: fixed;
        top: 150px;
        right: 0;

        .btn{
            padding: 6px 11px;
        }
    }
    
    .phone{
        position: fixed;
        top: 200px;
        right: 0;

        .btn{
            padding: 6px 11px;
        }
    }

    .email{
        position: fixed;
        top: 250px;
        right:0;

        .btn{
            padding: 6px 8px;
        }
    }
}

@media(max-width:576px){
    .jumbotron{
        h1{
            font-size: 36px;
            line-height: 1.3em;
            padding: 0px 15px 5px 15px;
            
        }
        h3{
            font-size: 14px;
            line-height: 1.8em;
            padding: 5px 15px 5px 15px;

        }
        img{
            padding: 5px 15px 5px 15px;
        }
        .button{
            padding: 5px 15px 5px 30px;

            .btn{
                font-size: 16px;
                border-radius: 6px;
            }
        }
    }

    #text-carousel{
        h1{
            font-size: 40px;
            color: $color-modal-form;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            color: #2f2f2f;
            margin-bottom: 20px;
        }
    }

    #image-carousel{
        .img-groom{
            width: 100%;
        }
        h1{
            font-size: 30px;
        }
        p{
            font-size: 18px;
        }
    }
}