body {
  font-family: "Lora", serif;
  background-color: #cec8ff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 60px; }

.navbar {
  background-color: #000; }
  .navbar a:hover {
    color: #bbefff !important; }

.jumbotron {
  margin: 0;
  padding: 100px;
  background-color: #fce1e0;
  background-image: linear-gradient(to left, rgba(238, 136, 183, 0.7), rgba(255, 255, 255, 0.8));
  overflow: hidden; }
  .jumbotron .container {
    margin-top: 70px; }
  .jumbotron h1 {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, black 0%, #fdbb2d 100%) bottom/cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .jumbotron h3 {
    background: linear-gradient(90deg, #635656 0%, #681212 39%, #720103 78%, #33292a 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .jumbotron .btn {
    font-family: "Lora", serif;
    font-size: 20px;
    background-color: rgba(231, 0, 65, 0.7);
    border: none;
    border-radius: 16px;
    margin-top: -25%; }
  .jumbotron .btn:hover {
    font-family: "Lora", serif;
    background-image: linear-gradient(to right, rgba(170, 102, 155, 0.7), rgba(231, 0, 65, 0.7));
    border: solid 2px #bbbec0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24); }
  .jumbotron img:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24); }

.carousel-container {
  background-image: linear-gradient(to right, rgba(245, 107, 203, 0.2), rgba(255, 255, 255, 0.9)); }

.carousel-inner img {
  width: 95%;
  height: 45vh;
  background-size: cover;
  background-position: center center; }

.carousel-inner .img1 {
  background-image: url(../img/bride-international.jpg); }

.carousel-inner .img2 {
  background-image: url(../img/Groom-Make-Up.jpg); }

.carousel-inner .img3 {
  background-image: url(../img/img6.jpg); }

.carousel-inner .img4 {
  background-image: url(../img/fashion.jpg); }

.carousel-inner .img5 {
  background-image: url(../img/landPage.jpg); }

#bookingModal {
  background: no-repeat center bottom/cover;
  background-image: linear-gradient(to left, rgba(5, 70, 124, 0.322), rgba(0, 0, 0, 0.438)), url(../img/bride.jpg); }
  #bookingModal .modal-content {
    margin-top: 55%;
    background-color: rgba(1, 122, 170, 0.7);
    border-radius: 20px; }

#socialHandles .btn {
  border: none;
  transition: all 125ms ease-in-out;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(218, 251, 251, 0.45)); }

#socialHandles .btn:hover {
  transform: scale(1.1);
  opacity: 0.85;
  margin-right: 1px;
  border-radius: 7px;
  background-image: linear-gradient(to right, rgba(51, 50, 50, 0.04), rgba(245, 232, 55, 0.7));
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
  border: none; }

#socialHandles .facebook {
  position: fixed;
  top: 30%;
  right: 0; }
  #socialHandles .facebook .btn {
    padding: 9px 20px; }

#socialHandles .instagram {
  position: fixed;
  top: 40%;
  right: 0; }
  #socialHandles .instagram .btn {
    padding: 8px 17px; }

#socialHandles .phone {
  position: fixed;
  top: 50%;
  right: 0; }
  #socialHandles .phone .btn {
    padding: 8px 17px; }
  #socialHandles .phone .contact {
    font-family: "Lora", serif;
    color: #fff;
    padding: 8px 28px;
    border-radius: 5px; }

#socialHandles .email {
  position: fixed;
  top: 60%;
  right: 0; }
  #socialHandles .email .btn {
    padding: 8px 15px;
    background-color: #77321e; }

#socialHandles .whatsapp {
  position: fixed;
  bottom: 27px;
  right: 90px; }
  #socialHandles .whatsapp .btn {
    padding: 11px 16px; }

#testimonial {
  border-top: #cec8ff 1px solid;
  background-color: #8ed0d4;
  background-image: linear-gradient(to left, rgba(147, 255, 201, 0.67), #dafbfb); }
  #testimonial .container {
    background-color: rgba(255, 250, 250, 0.4);
    background-image: linear-gradient(to left, rgba(115, 246, 181, 0.4), #dafbfb);
    padding: 100px 50px 100px 50px; }
  #testimonial .testimonial-heading {
    border-bottom: #b7dfd9 solid 1px; }
  #testimonial p {
    font-family: "Lora", serif;
    font-style: oblique;
    color: #444; }
  #testimonial p.customer {
    font-family: "Gloria Hallelujah", cursive;
    font-size: 14px;
    color: #666; }
  #testimonial img {
    border-radius: 25%;
    height: 100px;
    width: 150px;
    border-bottom: 1px solid #fce1e0; }
  #testimonial img:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09), 0 4px 40px rgba(0, 0, 0, 0.24);
    border-bottom: 1px solid #000; }
  #testimonial a.btnTestimonial {
    align-items: center;
    justify-content: center;
    text-align: center; }

#main-footer {
  padding: 3rem;
  border-top: 0.5rem solid rgba(219, 255, 243, 0.568);
  font-family: Georgia, "Times New Roman", Times, serif;
  background: radial-gradient(circle at top, #fcfbb5d3, #f6f6b4);
  color: #645050;
  letter-spacing: 2.5px; }

.border-me {
  border: 2px solid black; }

@media (max-width: 1200px) {
  .jumbotron .btn {
    margin-top: -80px; } }

@media (min-width: 992px) {
  #image-carousel .col-lg-4 {
    position: absolute;
    top: 25%;
    right: 2%; } }

@media (max-width: 992px) {
  .jumbotron .btn {
    margin-top: 20px;
    padding: 30px !important;
    font-size: 20px; } }

@media (max-width: 786px) {
  .jumbotron {
    padding: 5px; }
    .jumbotron .btn {
      margin-top: 30px;
      margin-bottom: 20px;
      padding: 15px 20px !important;
      font-size: 20px; }
  .img3 {
    background-position: -140px !important; }
  #testimonial .div-1,
  #testimonial .div-2 {
    border-bottom: 1px solid #fce1e0; }
  #testimonial .comment-1 {
    margin-top: -20px; }
  #testimonial .comment-2 {
    margin-top: 80px; }
  #testimonial .comment-3 {
    margin-top: 70px; }
  #testimonial .img-1 {
    margin-bottom: 40px; }
  #testimonial .img-2 {
    margin-bottom: 80px; }
  #testimonial a {
    margin-top: 0; }
  #testimonial .read-more {
    padding-top: 20px; }
  .facebook {
    position: fixed;
    top: 100px;
    right: 0; }
    .facebook .btn {
      padding: 7px 14px; }
  .instagram {
    position: fixed;
    top: 150px;
    right: 0; }
    .instagram .btn {
      padding: 6px 11px; }
  .phone {
    position: fixed;
    top: 200px;
    right: 0; }
    .phone .btn {
      padding: 6px 11px; }
  .email {
    position: fixed;
    top: 250px;
    right: 0; }
    .email .btn {
      padding: 6px 8px; } }

@media (max-width: 576px) {
  .jumbotron h1 {
    font-size: 36px;
    line-height: 1.3em;
    padding: 0px 15px 5px 15px; }
  .jumbotron h3 {
    font-size: 14px;
    line-height: 1.8em;
    padding: 5px 15px 5px 15px; }
  .jumbotron img {
    padding: 5px 15px 5px 15px; }
  .jumbotron .button {
    padding: 5px 15px 5px 30px; }
    .jumbotron .button .btn {
      font-size: 16px;
      border-radius: 6px; }
  #text-carousel h1 {
    font-size: 40px;
    color: rgba(1, 122, 170, 0.7);
    margin-bottom: 20px; }
  #text-carousel p {
    font-size: 18px;
    color: #2f2f2f;
    margin-bottom: 20px; }
  #image-carousel h1 {
    font-size: 30px; }
  #image-carousel p {
    font-size: 18px; } }
