$font-body:'Lora',
serif;
$font-heading: 'Montserrat',
sans-serif;
$font-testimonial: 'Gloria Hallelujah',
cursive;
// $font-color
$color-background: #CEC8FF;
$color-header: #fce1e0;
$color-button-header1: rgba(231, 0, 65, 0.7);
$color-button-header2: rgba(170, 102, 155, 0.7);
$color-main-heading: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 1) 100%);
$color-main-sub-heading: linear-gradient(90deg, rgba(99, 86, 86, 1) 0%, rgba(104, 18, 18, 1) 39%, rgb(114, 1, 3) 78%, rgba(51, 41, 42, 1) 100%);
$color-social-buttons-hover: linear-gradient(to right, rgba(51, 50, 50, 0.04), rgba(245, 232, 55, 0.7));
$color-modal-form: rgba(0, 0, 0, 0.7);
$color-testimonial: rgb(142, 208, 212);
$color-testimonial-container: rgba(255, 250, 250, 0.4);
$color-work-section: #fce1e09d;
$color-email: rgb(173, 45, 11);
$color-footer: linear-gradient(80deg, rgba(154, 182, 130, 0.8) 0%, rgba(6, 63, 10, 0.8) 15%, rgba(31, 110, 39, 0.8) 68%, rgba(92, 168, 104, 0.7) 87%, rgba(111, 139, 88, 0.7) 100%);
$color-light: #ccc;
$color-white: #fff;
$color-black: #000;
// $

body {
    font-family: $font-body;
    background-color: $color-background
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
}

.navbar {
    background-color: $color-black;

    a:hover {
        color: rgb(187, 239, 255) !important;
    }
}

.jumbotron {
    margin: 0;
    padding: 100px;
    background-color: $color-header;
    background-image: linear-gradient(to left, rgba(238, 136, 183, 0.925), rgba(255, 255, 255, 0.9));
    overflow: hidden;

    .container {
        margin-top: 70px;
    }

    h1 {
        margin: 0;
        padding: 0;
        background: $color-main-heading bottom/cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    h3 {
        background: $color-main-sub-heading;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .btn {
        font-family: $font-body;
        font-size: 20px;
        background-color: $color-button-header1;
        border: none;
        border-radius: 16px;
        margin-top: -25%;
    }

    .btn:hover {
        font-family: "Lora", serif;
        background-image: linear-gradient(to right, $color-button-header2, $color-button-header1);
        border: solid 2px rgb(187, 190, 192);
        box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);

    }

    img:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
    }
}

.carousel-container {
    background-image: linear-gradient(to right, rgba(245, 107, 203, 0.2), rgba(255, 255, 255, 0.9));
}

.carousel-inner {
    img {
        width: 95%;
        height: 45vh;
        background-size: cover;
        background-position: center center;
    }

    .img1 {
        background-image: url(img/bride-international.jpg);
    }

    .img2 {
        background-image: url(img/Groom-Make-Up.jpg);
    }

    .img3 {
        background-image: url(img/img6.jpg);
    }

    .img4 {
        background-image: url(img/fashion.jpg);
    }

    .img5 {
        background-image: url(img/landPage.jpg);
    }
}


#bookingModal {
    background: url(img/bride.jpg) no-repeat center bottom/cover;

    .modal-content {
        margin-top: 140px;
        background-color: $color-modal-form;
    }
}

#socialHandles {

    .btn {
        border: none;
        transition: all 125ms ease-in-out;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(218, 251, 251, 0.45));
    }

    .btn:hover {
        transform: scale(1.1);
        opacity: .85;
        margin-right: 1px;
        border-radius: 7px;
        background-image: $color-social-buttons-hover;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
        border: none;
    }

    .facebook {
        position: fixed;
        top: 30%;
        right: 0;

        .btn {
            padding: 9px 20px;
        }
    }

    .instagram {
        position: fixed;
        top: 40%;
        right: 0;

        .btn {
            padding: 8px 17px;
        }
    }

    .phone {
        position: fixed;
        top: 50%;
        right: 0;

        .btn {
            padding: 8px 17px;
        }

        .contact {
            font-family: $font-body;
            color: $color-white;
            padding: 8px 28px;
            border-radius: 5px;
        }
    }

    .email {
        position: fixed;
        top: 60%;
        right: 0;

        .btn {
            padding: 8px 15px;
            background-color: $color-email;
        }
    }

    .whatsapp {
        position: fixed;
        bottom: 27px;
        right: 90px;

        .btn {
            padding: 11px 16px;
        }
    }
}

#testimonial {
    border-top: $color-background 1px solid;
    // border-bottom: $color-background 10px solid;
    background-color: $color-testimonial;
    background-image: linear-gradient(to left, rgba(98, 253, 175, 0.6), rgb(218, 251, 251));


    .container {
        background-color: $color-testimonial-container;
        background-image: linear-gradient(to left, rgba(115, 246, 181, 0.561), rgb(218, 251, 251));
        padding: 100px 50px 100px 50px;
    }

    p {
        font-family: $font-body;
        font-style: oblique;
        color: #444;
    }

    p.customer {
        font-family: $font-testimonial;
        font-size: 14px;
        color: #666;
    }

    img {
        border-radius: 25%;
        height: 100px;
        width: 150px;
        border-bottom: 1px solid $color-header;
    }

    img:hover {
        box-shadow: 0 2px 8px rgba(0, 0, 0, .09), 0 4px 40px rgba(0, 0, 0, .24);
        border-bottom: 1px solid $color-black;
    }

    a.btnTestimonial {
        align-items: center;
        justify-content: center;
        text-align: center
    }
}

#main-footer {
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    background: $color-footer;
    color: $color-white;
    letter-spacing: 2.5px;
}


@media(max-width:1200px) {
    .jumbotron {
        .btn {
            margin-top: -80px;
        }
    }
}

@media(min-width:992px) {
    #image-carousel {
        .col-lg-4 {
            position: absolute;
            top: 25%;
            right: 2%;
        }
    }
}

@media(max-width:992px) {
    .jumbotron .btn {
        margin-top: 20px;
        padding: 30px !important;
        font-size: 20px;
    }
}

@media(max-width:786px) {
    .jumbotron {
        padding: 5px;

        .btn {
            margin-top: 30px;
            margin-bottom: 20px;
            padding: 15px 20px !important;
            font-size: 20px;
        }
    }

    .img3 {
        background-position: -140px !important;
    }

    #testimonial {

        .div-1,
        .div-2 {
            border-bottom: 1px solid $color-header;
        }

        .comment-1 {
            margin-top: -20px;
        }

        .comment-2 {
            margin-top: 80px;
        }

        .comment-3 {
            margin-top: 70px;
        }

        .img-1 {
            margin-bottom: 40px;
        }

        .img-2 {
            margin-bottom: 80px;
        }

        a {
            margin-top: 0;
        }

        .read-more {
            padding-top: 20px;
        }
    }

    .facebook {
        position: fixed;
        top: 100px;
        right: 0;

        .btn {
            padding: 7px 14px;
        }
    }

    .instagram {
        position: fixed;
        top: 150px;
        right: 0;

        .btn {
            padding: 6px 11px;
        }
    }

    .phone {
        position: fixed;
        top: 200px;
        right: 0;

        .btn {
            padding: 6px 11px;
        }
    }

    .email {
        position: fixed;
        top: 250px;
        right: 0;

        .btn {
            padding: 6px 8px;
        }
    }
}

@media(max-width:576px) {
    .jumbotron {
        h1 {
            font-size: 36px;
            line-height: 1.3em;
            padding: 0px 15px 5px 15px;

        }

        h3 {
            font-size: 14px;
            line-height: 1.8em;
            padding: 5px 15px 5px 15px;

        }

        img {
            padding: 5px 15px 5px 15px;
        }

        .button {
            padding: 5px 15px 5px 30px;

            .btn {
                font-size: 16px;
                border-radius: 6px;
            }
        }
    }

    #text-carousel {
        h1 {
            font-size: 40px;
            color: $color-modal-form;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            color: #2f2f2f;
            margin-bottom: 20px;
        }
    }

    #image-carousel {
        h1 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }
}