.bg-black{
    background-color: black;
    padding: 50px;
}

.nav-item{
    margin: 10px;
}

.header{
    color: aqua;
    border-bottom: 1px solid rgb(146, 135, 135, 0.5);
}

body{
    font-family: 'Lora', serif;
    background-color: black;
   }
   
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
   }

h1{
    font-size: 60px;
}

h5{
    font-family: "Gloria Hallelujah";
    font-weight: 900;
}

.landPage{
    min-width: 100vw;
    min-height: 100vh;
}