
$font-body:'Lora', serif;
$font-heading: 'Montserrat', sans-serif;
$font-testimonial: 'Gloria Hallelujah', cursive;
// $font-
// $
// $
$color-header: #fce1e0;
$color-button-header: rgba(231, 0, 65, 0.7);
$color-main-heading: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(253, 187, 45, 1) 100%);
$color-main-sub-heading: linear-gradient(90deg, rgba(99,86,86,1) 0%, rgba(104,18,18,1) 39%, rgb(114, 1, 3) 78%, rgba(51,41,42,1) 100%);
$color-modal-form: rgba(0, 0, 0, 0.7);
$color-testimonial: rgb(142, 208, 212);
$color-testimonial-container: rgba(255, 250, 250, 0.4);
$color-testimonial-border: #CEC8FF;
$color-footer: linear-gradient(90deg, rgba(154, 182, 130, 0.8) 0%, rgba(15, 58, 18, 0.8) 10%, rgba(23, 44, 25, 0.8) 68%, rgba(23, 63, 30, 0.7) 87%, rgba(34, 48, 22, 0.7) 100%);
$color-light: #ccc;
$color-white: #fff;
$color-black: #000;
// $

body{
    font-family: $font-body;
}

h1, h2, h3, h4, h5, h6{
    font-family: $font-heading;
    font-weight: 300;
    text-transform: uppercase;
}

h1{
    font-size: 60px;
}

.navbar {
    background-color: $color-black;
}

.jumbotron{
    margin: 0;
    padding: 100px;
    background-color: $color-header;
    overflow: hidden;

    .container{
        margin-top: 70px;
    }
    h1{
        margin: 0;
        padding: 0;
        background: $color-main-heading bottom/cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h3{
        background: $color-main-sub-heading;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    .btn{
        font-family: $font-body;
        font-size: 20px;
        background-color: $color-button-header;
        border: none;
        border-radius: 16px;
    }
}

#bookingModal{
    background: url(/img/bride.jpg) no-repeat center bottom/cover;

    .modal-content{
        margin-top: 140px;
        background-color: $color-modal-form;
    }
}

.facebook{
    position: fixed;
    top: 30%;
    right: 0;

    .btn{
        padding: 8px 20px;
    }
}

.instagram{
    position: fixed;
    top: 40%;
    right: 0;

    .btn{
        padding: 7px 17px;
    }
}

.phone{
    position: fixed;
    top: 50%;
    right: 0;

    .btn{
        padding: 7px 17px;
    }

    .contact{
        font-family: $font-body;
        color: $color-white;
        padding: 8px 28px;
        border-radius: 5px;
    }
}

.email{
    position: fixed;
    top: 60%;
    right: 0;

    .btn{
        padding: 7px 15px;
        background-color: rgb(173, 45, 11);
    }
}

.whatsapp{
    position: fixed;
    bottom: 27px;
    right: 90px;

    .btn{
        padding: 10px 16px;
    }
}

#testimonial{
    border-top: $color-testimonial-border 3px solid;
    border-bottom: $color-testimonial-border 1px solid;
    background-color: $color-testimonial;

    .container{
        background-color: $color-testimonial-container;
        padding: 100px 50px 100px 50px;
        border-right: 1px solid $color-light;
    }

    p{
        font-family: $font-body;
        font-style: oblique;
        color: #444;
    }

    p.customer{
        font-family: $font-testimonial;
        font-size: 14px;
        color: #666;
    }

    img{
        border-radius: 25%;
        height: 100px;
        width: 150px;
        border-bottom: 1px solid $color-header;
    }

    a.btnTestimonial{
        align-items: center;
        justify-content: center;
        text-align: center
    }
}

#main-footer{
    font-family: 'Lora', serif;
    font-size: 12px;
    background: $color-footer;
    color: $color-white;
    letter-spacing: 2px;
}

@media(min-width:1200px){
    .jumbotron .btn{
        margin-top: -200px;
    }
}
@media(max-width:1200px){
    .jumbotron .btn{
        margin-top: -80px;
    }
}
@media(max-width:992px){
    .jumbotron .btn{
        margin-top: 20px;
        padding: 30px!important;
        font-size: 20px;
    }
}
@media(max-width:786px){
    .jumbotron{
        padding: 5px;

        .btn{
            margin-top: 30px;
            padding: 15px 20px!important;
            font-size: 20px;
        }
    }

    #testimonial{
        .div-1, .div-2{
            border-bottom: 1px solid $color-header;
        }
        .comment-1{
            margin-top: 50px;
        }
        .comment-2{
            margin-top: 100px;
        }
        .comment-3{
            margin-top: 70px;
        }
        .img-1{
            margin-bottom: 30px;
        }
        .img-2{
            margin-bottom: 100px;
        }
        a{
            margin-top: 0;
        }
        .read-more{
            padding-top: 20px;
        }
    }

    .facebook{
        position: fixed;
        top: 100px;
        right: 0;

        .btn{
            padding: 7px 14px;
        }
    }
    
    .instagram{
        position: fixed;
        top: 150px;
        right: 0;

        .btn{
            padding: 6px 11px;
        }
    }
    
    .phone{
        position: fixed;
        top: 200px;
        right: 0;

        .btn{
            padding: 6px 11px;
        }
    }

    .email{
        position: fixed;
        top: 250px;
        right:0;

        .btn{
            padding: 6px 8px;
        }
    }
}