body{
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    background: url('img/bride.jpg') no-repeat;
    background-size: cover;
    background-position: ;
    height: 100vh;
}

.navbar{
    font-size: 14px;
    background-color: rgba(5, 5, 5, 0);
}

.wrapper{
    background-color: rgba(0, 0, 0, 0.3);
}

.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 45vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay h6 {
    color: #eee;
}

.animated{
    font-size: 30px;
    font-weight: light;
    margin: 0;
    padding: 0;
    background: url('img/imagesGold.jpeg') no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: moveBg 50s linear infinite;
}

/* Text Background Animation */
@keyframes moveBg {
    0% {
        background-position: 0% 70%;
    }

    100% {
        background-position: 100% 50%;
    }
}

